
  <div>
    <nav>
      <a href="/">Home</a>
    </nav>
  </div>


  <div>
    <h1>Talk to your coach:</h1>
    <form action="/answer">
        <input class="form" type="text" id="question" name="query" placeholder="hello">
        <p>
          <input type="submit" value="Submit">
        </p>
      </form>
  </div>

